*{box-sizing: border-box;
  margin: 0px;
  padding: 0px;  
}
.container{
    border: 3px solid green;
    width: 900px;
    margin:33px auto;
}

.item{
    border: 2px solid gray;
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: rgb(233, 216, 202);
    /* background-color: blue; */
}
body{
    font-family: 'Roboto', sans-serif;
}
#fruit{
    float:right;
    width: 48%;
}
#computer{
    float:left;
    width: 48%;
}
#stationary{
    /* float:left; */
    width: 100%;
    clear: both
}